body{
    padding: 0;
    margin: 0;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Playing screen*/
#container{
    margin-left: 25px;
    height: 600px;
    display: flex;
}
/*Score Board*/
.score_board {
    width: auto;
    height: auto;
    position: absolute;
}
/*Playing board*/
#game_board{
    display: flex;
    margin-top: 20px;
    /*margin-left: auto;*/
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    perspective: 1200px;
    background: transparent;
    /*align-content: center;*/
    margin: 5% 20% 10% 80%;
}
.card-inner{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    transition:all 0.75s ease;
    transform-style: preserve-3d;    
    position:absolute;
}
.card{
    width: 150px;
    height: 190px;
    display: block;
    margin-left: auto;
    background-size: cover;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}
.card:hover {
    transform: scale(1.03);
}
.card_match{
    border: 1px solid red;
}
.card_back{
    background-image: url('../images/mona.jpg');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_back{
    transform: scale(1.03);
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front0{
    background-image: url('../images/vaccine.jpg');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front1{
    background-image: url('../images/caution.jpg');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front2{
    background-image: url('../images/injection.jpg');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front3{
    background-image: url('../images/virus.jpg');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front4{
    background-image: url('../images/covid_19.jpg');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front5{
    background-image: url('../images/stay_safe.jpg');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front6{
    background-image: url('../images/wash_hands.jpg');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front7{
    background-image: url('../images/world.png');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front8{
    background-image: url('../images/girl.png');
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front9{
    background-image: url('../images/mask.png');    
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
/*Scoring board*/
h1 {
    text-align: center;
    color: antiquewhite;
}
 .score_board h2{
    color: antiquewhite;
    width: 220px;
    height: 30px;
    margin: 5px;
    margin-left: 200px;
}
p{
    color: antiquewhite;
    margin-left: 200px;
}
#game_btn{
    margin-left: 35px;
    background-color: red;
    border: 2px solid yellow;
    color: antiquewhite;
    border-radius: 10px;
}

@media screen and (max-width: 375px) {
    body{
        background-image: url(/images/cover.jpg);
        height: 190vh;
    }
     #container{
        display: flex;
    }
    .score_board {
        width: 330px;
        position: absolute;
    }
     .score_board h2{
       margin-left: 120px;
    }
    .card{
        width: 85px;
        height: 100px;
        display: block;
        margin-left: auto;
        background-size: cover;
        transition: 0.3s;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 11%;
    }
    #game_board{
   /* margin-top: 250px;*/
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    perspective: 1200px;
    background: transparent;
    margin: 350px -20px 100px;
    }
   p{
    margin-left: 120px;
}
#game_btn{
    margin-left:auto;
}
h1 {
    margin: revert;
    margin-left: 62px;
}
}