body{
    padding: 0;
    margin: 0;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Playing screen*/
#container{
    margin-left: 25px;
    height: 600px;
    display: flex;
    margin-top: 50px;
}
/*Score Board*/
.score_board {
    width: auto;
    height: auto;
    position: absolute;
}
/*Playing board*/
#game_board{
    display: flex;
    margin-top: 20px;
    margin-left: 530px;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    perspective: 1200px;
    background: transparent;
    align-content: center;
}
/*Card properties*/
.card-inner{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    transition:all 0.75s ease;
    transform-style: preserve-3d;    
    position:absolute;
}
.card{
    width: 150px;
    height: 190px;
    display: block;
    margin-left: auto;
    background-size: cover;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}
.card:hover {
    transform: scale(1.03);
}
.card_match{
    border: 1px solid red;
}
.card_back{
    background-image: url('../images/mona.jpg');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1.03);
}
/*.card_back{
    transform: scale(1.03);
}*/
.card_front0{
    background-image: url('../images/vaccine.jpg');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front1{
    background-image: url('../images/covid_19.jpg');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front2{
    background-image: url('../images/wash_hands.jpg');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front3{
    background-image: url('../images/mask.png');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front4{
    background-image: url('../images/caution.jpg');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front5{
    background-image: url('../images/stay_safe.jpg');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front6{
    background-image: url('../images/virus.jpg');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front7{
    background-image: url('../images/world.png');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front8{
    background-image: url('../images/girl.png');
    width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
.card_front9{
    background-image: url('../images/injection.jpg');    
     width: 150px;
    height: 190px;
    transition: 0.3s;
    cursor: pointer;
    background-position: center;
    background-size: 150px 190px;
    background-repeat: no-repeat;
}
/*Scoring board*/
h1 {
    text-align: center;
    color: antiquewhite;
    margin-top: 25px;
}
 .score_board h2{
    color: antiquewhite;
    width: 220px;
    height: 30px;
    margin: 5px;
    margin-left: 250px;
}
p{
    color: antiquewhite;
    margin-left: 200px;
    text-align: center;
}
#game_btn{
    margin-left: 35px;
    background-color: red;
    border: 2px solid yellow;
    color: antiquewhite;
    border-radius: 10px;
    margin-right: 35px;
}